.main {
  display: flex;
}
@media screen and (max-width: 600px) {
  .mobile-hide {
    display: none;
  }
  .desktop-hide {
    display: inline-block !important;
  }
  .mobile-show {
    flex-basis: 100vw;
  }
}
.desktop-hide {
  display: none;
}
.logout-button {
  position: absolute;
  bottom: 10px;
  left: 300px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  background-color: rgb(145, 8, 8);
  color: white;
  border: none;
}
.logout-button:hover {
  background-color: rgb(168, 6, 6);
}
